.home-page {
  background-color:  #bfbcf7;
  
  h1 {
    padding-top: 7rem;
    text-align: center;
  }
  .dev {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    
    .content {
      flex: 1;
      margin-left: 2rem;
      letter-spacing: 1px;
      // font-size: 15px;
    }
    .image {
      flex: 1;
      margin: 1rem;
      width: 72%;
      
      img {
        border-radius: 6px;
        width: 100%;

        &:hover{
          opacity: 0.9;
        }
      }
    }
  }

  .tax {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 2rem;
    .image {
      flex: 1;
      width: 72%;
      margin-right: 2rem;
      margin-left: 1rem;
      img {
        border-radius: 6px;
        width: 100%;

        &:hover{
          opacity: 0.9;
        }
      }
    }
    .content {
      flex: 1;
    }
  }
}
