* {
  margin: 0;
  padding: 0;
}
//Login
.login {
  height: 92vh;
  background-color: #c1beff;
  display: flex;
  align-items: center;
  padding-top: 2.6rem;
  .card {
    display: flex;
    margin: 0 20% 0 20%;
    background-color: aliceblue;
    border-radius: 10px;
    min-height: 420px;
    gap: 10px;

    .card-left {
      flex: 1;
      background: linear-gradient(rgba(43, 48, 41, 0.5), rgba(0, 50, 100, 0.5));
      background-size: cover;
      padding: 22px 33px;
      color: black;
      background-position: center;
      border-radius: 10px 0 0 10px;
      h1 {
        font-size: 32px;
        margin-top: 6px;
        color: white;
      }
      p {
        margin-top: 5px;
        font-size: 18px;
        text-align: justify;
      }
      span {
        margin-top: 6px;
        font-size: 20px;
        letter-spacing: 1px;
        color: white;
      }
      button {
        margin-top: 12px;
        height: 32px;
        width: 11rem;
        border-radius: 0px 20px;
        border: none;
        background-color: rgb(51, 70, 54);
        font-size: 18px;
        letter-spacing: 1.2px;
        font-weight: 600;
        color: aliceblue;
        cursor: pointer;
        transition: 0.3s ease-in;

        &:hover {
          background-color: #2c2c2c;
          transition: 0.3s ease-in;
        }
      }
      img {
        width: 21rem;
        border-radius: 50%;
        margin-top: 1.2rem;
        margin-left: 1%;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      }
      img:hover {
        opacity: 0.8;
      }
    }

    .card-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      padding-top: 2.2rem;
      h1 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        label{
          font-size: 1.1rem;
          margin-bottom: 6px;
        }
        input {
          height: 1.1rem;
          width: 82%;
          border-radius: 8px;
          padding: 9px;
          background-color: rgb(187, 191, 187);
          color: rgb(7, 7, 7);
          font-size: 1rem;
          letter-spacing: 1px;
          outline: none;
          border: none;
        }
        button {
          width: 5.2rem;
          height: 2rem;
          border-radius: 8px;
          font-size: 1.1rem;
          letter-spacing: 1.2px;
          font-weight: 550;
          padding: 6px;
          border: none;
          background-color: #3b503f;
          color: white;
          cursor: pointer;
          margin-bottom: 1rem;
          transition: 0.3s ease-in;

          &:hover {
            background-color: #2c2c2c;
            transition: 0.3s ease-in;
          }
        }
      }
    }
  }
}

//Signup
.register {
  height: 92vh;
  background-color: #c1beff;
  display: flex;
  align-items: center;
  padding-top: 2.6rem;
  .card {
    display: flex;
    margin: 0 20% 0 20%;
    background-color: aliceblue;
    border-radius: 10px;
    min-height: 420px;
    gap: 10px;

    .card-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      padding-top: 2rem;
      h1 {
        font-size: 2.1rem;
        margin-bottom: 1.6rem;
        margin-top: 1rem;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        input {
          height: 1.2rem;
          width: 16rem;
          border-radius: 8px;
          border: none;
          outline: none;
          padding: 10px;
          background-color: rgb(187, 191, 187);
          color: rgb(7, 7, 7);
          font-size: 1rem;
          letter-spacing: 1px;
        }
        button {
          width: 6rem;
          height: 2.2rem;
          border-radius: 8px;
          font-size: 1.1rem;
          font-weight: 550;
          padding: 6px;
          border: none;
          background-color: rgb(59, 80, 63);
          color: white;
          letter-spacing: 1px;
          cursor: pointer;
          transition: 0.3s ease-in;

          &:hover {
            background-color: #2c2c2c;
            transition: 0.3s ease-in;
          }
        }
      }
    }
    .card-right {
      flex: 1;
      background: linear-gradient(rgba(10, 50, 0, 0.5), rgba(5, 120, 0, 0.9));
      background-size: cover;
      padding: 18px 28px;
      color: black;
      background-position: center;
      border-radius: 0px 10px 10px 0px;
      h1 {
        font-size: 2rem;
        margin-top: 10px;
        color: white;
      }
      p {
        font-size: 1.1rem;
        text-align: justify;
        margin-top: 6px;
      }
      span {
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: white;
        margin-top: 6px;
      }
      button {
        margin-top: 12px;
        height: 32px;
        width: 11rem;
        border-radius: 0px 20px;
        border: none;
        background-color: rgb(51, 70, 54);
        font-size: 1.1rem;
        letter-spacing: 1.2px;
        font-weight: 600;
        color: aliceblue;
        cursor: pointer;
        transition: 0.3s ease-in;

        &:hover {
          background-color: #2c2c2c;
          transition: 0.3s ease-in;
        }
      }
      img {
        width: 21rem;
        border-radius: 50%;
        margin-top: 1.2rem;
        margin-left: 1%;
        opacity: 1;
        box-shadow: 5px 5px 10px rgba(25, 246, 9, 0.4);
        transition: opacity 0.5s ease-in-out;
      }
      img:hover {
        opacity: 0.8;
      }
    }
  }
}

//Forgot Password
.forgot_password {
  background-color: #6e9899;
  padding-top: 9rem;
  padding-bottom: 8.4rem;

  h1 {
    text-align: center;
    color: #ffffff;
  }

  .form_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin-top: 2rem;

    label {
      font-size: 1.5rem;
    }
    input {
      height: 1.6rem;
      width: 25%;
      font-size: 1rem;
      letter-spacing: 1px;
      padding: 6px 12px;
      border-radius: 6px;
      border: none;
      outline: none;
    }
    button {
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: 550;
      letter-spacing: 1px;
      padding: 6px 15px;
      border-radius: 6px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

//Reset Password
.reset_password{
  background-color: #6e9899;
  padding-top: 7rem;
  padding-bottom: 5.7rem;

  h1 {
    text-align: center;
    color: #ffffff;
  }

  .reset_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    margin-top: 2rem;

    .form_data{
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    label {
      font-size: 1.2rem;
      letter-spacing: 1px;
      margin-bottom: 6px;
    }
    input {
      height: 1.5rem;
      width: 100%;
      font-size: 1rem;
      letter-spacing: 1px;
      padding: 5px 10px;
      border-radius: 6px;
      border: none;
      outline: none;
    }
    button {
      font-size: 1rem;
      font-weight: 550;
      letter-spacing: 1px;
      padding: 6px 15px;
      border-radius: 6px;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}